.randomizerButtonsDiv {
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
  }

.randomizerButtonActual {
  text-align: center;
  width: 100px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .randomizerButtonActual {
    display: flex;
    border-radius: 0px / 0px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50%;
  }
}